[Desktop Entry]
Name=RamRadar
GenericName=Memory & Process Inspector
Comment=High-Tech Linux PSS RAM and Process Tree HUD for Hyprland & Wayland
Exec=ram-radar
TryExec=ram-radar
Icon=utilities-system-monitor
Terminal=false
Type=Application
Categories=System;Monitor;Utility;
Keywords=system;process;task;manager;memory;ram;pss;hyprland;wayland;radar;
StartupWMClass=ram-radar
