[Desktop Entry]
Name=RamRadar
Comment=Realistic Linux RAM and Process Tree Inspector for Hyprland
Exec=/home/julian/Documents/cookie/projects/ram-radar/target/release/ram-radar
Icon=utilities-system-monitor
Terminal=false
Type=Application
Categories=System;Monitor;
Keywords=system;process;task;manager;memory;ram;hyprland;
